addDefaultCharset utf-8
Options -Indexes
RewriteEngine on

#if dir or file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#передаем обработку в index
RewriteRule . index.php
